.flexbox {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexbox>img {
    margin-top: 1.375rem;
}

.flexbox>nav {
    display: flex;
    align-items: baseline;
    margin-top: 2.1875rem;
    margin-bottom: 2.1875rem;
    margin-left: 4.1875rem;
    margin-right: 4.1875rem;
    gap: 4.375rem;
}

.flexbox >button:hover{
    background-color: var(--color-primary-Hover);
}

@media(min-width: 768px){

.flexbox{
    flex-direction: row;
    justify-content: center;
}
.flexbox >img{
    margin: 0;
}
}