.flexbox {
    width: 100%;
    margin: 1.25rem;
}

.flexbox > h2{
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
}

.flexbox ul > li {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin: 0.625rem;
    width: 80%;
    border: 0.0625rem solid rgba(255, 255, 255, 0.50);
    padding: 16px 20px;
    border-radius: 20px;
}

@media(min-width: 768px){
       
    .flexbox ul{
        display: flex;
        flex-wrap: wrap;

    }

    .flexbox li{
        max-width:30%;
        width: 17.9375rem;
        height: 5.375rem;
    }
}